archive cyber project/
project logging and book/
teacherproject/
helpful material/

*db
*db-shm
*db-wal

Cyber Project/audio_recordings_wav*/
Cyber Project/audio_recordings_wav/

Cyber Project/__pycache__/