archive cyber project/
project logging and book/
teacherproject/
helpful material/

*db
*db-shm
*db-wal

Cyber Project Code/audio_recordings_wav*/
Cyber Project Code/audio_recordings_wav/
**/audio_recordings_wav*/
**/__pycache__/


Cyber Project Code/__pycache__/